# Local configuration file (sdk path, etc)
# This file should *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.

# Location of the Android SDK
sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\sdk

# Google Maps API Key
# Get your API key from Google Cloud Console
# https://console.cloud.google.com/apis/credentials
MAPS_API_KEY=your_google_maps_api_key_here
